[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
matplotlib = "*"
requests = "*"
python-dotenv = "*"
seaborn = "*"
plotly = "*"
jupyter = "*"
wordcloud = "*"
statsmodels = "*"
geopy = "*"
folium = "*"
streamlit-folium = "*"
extra-streamlit-components = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
